body {
    background-image: url(../RPS-TOP/images/background.png);
}

.button-container , .score-board , .player-score , .computer-score , .game-name , .game-log {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 45px
}

.player-score , .computer-score {
    flex-direction: column;
    gap: 0px;
}

#player-points , #computer-points {
    margin-left: auto;
    margin-right: auto;
}

.score-board {
    margin-bottom: 5rem;
}

#play-image {
    width: 100px;
    height: 100px;
    
}