body {
    background-image: url(../RPS-TOP/images/background.png);
}

.button-container , .score-board , .player-score , .computer-score , .game-name , .game-log {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 45px
}

.cute {
    width: 150px;
    height: 150px;
}

.player-score , .computer-score {
    flex-direction: column;
    gap: 0px;
}

#player-points , #computer-points {
    margin-left: auto;
    margin-right: auto;
}

#player-points , #computer-points , .round-message {
    font-size: 24px;
    font-weight: 600;
}

#player-points {
    color: limegreen;
}

#computer-points {
    color: red;
}

#rock , #paper , #scissors  {
    width: 100px;
    height: 100px;
    transition: transform .2s;
    
}

#rock:hover , #paper:hover , #scissors:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#reset {    
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    height: 32px;
    min-width: 60px;
    min-height: 32px;
    border: none;
    color: #fff;
    background-color: #4f545c;
    transition: transform .2s;
}

#reset:hover {
    transform: scale(1.2);

}